name: Deploy Frontend to Azure

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy static frontend to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'cc2025-ui'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_UI }}
          package: ./frontend
